@import "../style/_reset.scss";
@import "../style/fonts";

$color-main: #ffcc00 !default;
$padding-main: 121px calc((100vw - 1170px) / 2) !default;

@mixin parent-hovered {
  @if & {
    &:hover {
      background-color: $color-main;
      transition-duration: 0.5s;
      cursor: pointer;
    }
  } @else {
    a {
      background-color: transparent;
    }
  }
}

body {
  padding: $padding-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

// ⇓ ⇓ ⇓ ⇓ ⇓ header ⇓ ⇓ ⇓ ⇓ ⇓
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    @extend %subtitle;
    margin: 0 0 15px 0;
  }
  h1 {
    @extend %title;
  }
  &__underline {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    margin: 40px 0;
    & hr {
      width: 210px;
      height: 1px;
      background-color: $color-main;
      border: 0;
    }
    & svg {
      width: 20px;
      height: 20px;
    }
  }
}

// ⇓ ⇓ ⇓ ⇓ ⇓ main ⇓ ⇓ ⇓ ⇓ ⇓

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1030px;
}

// ⇓ leftside ⇓
.photo {
  padding: 65px 85px 65px 0;
  .photo__border {
    padding: 15px;
    border: 1px solid $color-main;
    & img {
      display: block;
      width: 400px;
      height: 400px;
      border: 1px solid $color-main;
    }
  }
}

// ⇓ rightside ⇓
.info {
  padding: 65px 0 65px 85px;
  border-left: 1px solid $color-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    @extend %subtitle-name;
  }
  & hr {
    width: 100px;
    height: 1px;
    background-color: $color-main;
    border: 0;
  }
  & h3 {
    @extend %subtitle-position;
  }

  &__icons ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    li svg {
      @include parent-hovered;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

  & p {
    @extend %text-bio;
    text-align: center;
  }
  & svg {
    width: 50px;
    height: 4px;
  }
  & button {
    @extend %text-button;
    @include parent-hovered;
    width: 118px;
    height: 24px;
    border: 1px solid #ffcc00;
    background-color: transparent;
  }
}
